$font-color: white;
$color-accent: #cf0551;

html {
  background-color: black;
  color: $font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-top: 0px;
}

header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: -8px -8px 0 -8px;
  background-color: #202020;

  .logo {
    margin-left: 10px;
  }

  nav#menu {

    ul {
      display: inline;
      padding: 10px;
      margin-left: 10px;

      li {
        display: inline;
        font-weight: bold;

        &:not(:first-child) {
          margin-left: 10px;
        }

        a {
          color: $font-color;
          text-decoration: none;

          &:visited {
            color: $font-color;
          }
        }
      }
    }
  }
}

div#content {
  width: 960px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: left;
  column-gap: 30px;
  padding: 10px;

  .main {
    width: auto;
    max-width: 720px;
    flex: 1 1 auto;
    padding: 20px;
    border: #333333 1px solid;
    border-radius: 4px;
  }

  .side {
    width: 240px;
    flex: 0 0 auto;
  }

  @media (max-width: 960px) {
    width: auto;
    flex-flow: column;
    justify-content: unset;
    align-items: center;

    .main {
      width: 100%;
      flex: 1 0 auto;
    }
    .side {
      width: 100%;
      flex: 1 0 auto;
      max-width: 720px;
    }
  }
}

footer {
  max-width: 720px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
}
