$font-color: white;
$color-accent: #cf0551;

html {
  background-color: black;
  color: $font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: -8px;
  background-color: #202020;

  .logo {
    margin-left: 10px;
  }

  nav#menu {

    ul {
      display: inline;
      padding: 10px;
      margin-left: 10px;

      li {
        display: inline;
        font-weight: bold;

        &:not(:first-child) {
          margin-left: 10px;
        }

        a {
          color: $font-color;
          text-decoration: none;

          &:visited {
            color: $font-color;
          }
        }
      }
    }
  }
}

div#content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  column-gap: 30px;
  padding: 10px;

  .main {
    max-width: 720px;
    flex-grow: 1;
    padding: 20px;
    border: #333333 1px solid;
    border-radius: 4px;
  }

  .side {
    min-width: 320px;
    max-width: 320px;
    flex-grow: 1;
  }
}

footer {
  max-width: 720px;
  left: 0px;
  right: 0px;
  margin: auto;
}