@import "variables";

html {
  background-color: black;
  color: $font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {

  > a.headerlink {
    visibility: hidden;
  }

  &:hover {
    > a.headerlink {
      visibility: visible;
    }
  }
}

a, a:visited {
  color: $color-accent;
  text-decoration: none;

  &.headerlink {
    margin-left: 10px;
  }

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-color: $color-border;
  margin: 10px 15px;
}

header {
  background-color: #202020;

  nav#menu ul li {
    font-weight: bold;

    a {
      color: $font-color;
      text-decoration: none;

      &:visited {
        color: $font-color;
      }
    }
  }
}

footer {
  color: #cccccc;
  font-size: small;
}

div#content {
  .main {
    border: $color-border 1px solid;
    border-radius: 4px;
  }

  .side {
    hr {
      margin: 10px 0;
    }

    .links {
      list-style: none;
      padding-inline: 0;
    }
  }
}